.Header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: var(--cor-fundo-card);
  color: var(--cor-texto);
  transition: background-color 0.2s ease, color 0.2s ease;
}

.Header h1 {
  text-align: center;
  margin: 0;
}
